.article {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}
.image {
  cursor: pointer;
}
.rotate {
  transform: rotate(90deg);
}
.question {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 9px;
}
.question__title {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.question__answer {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
  color: #000000;
}
